{% extends 'layout.html' %}

{% block body %}

  <br>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">About</h1>
      <p>Lorem ipsum dolor sit amet. Qui expedita quam et placeat veniam et repellendus voluptas et amet asperiores. Nam delectus repudiandae qui corrupti possimus a distinctio doloremque rem animi perspiciatis ut nisi eligendi qui quis consequatur. Vel dicta exercitationem eos eaque quia et deserunt suscipit in quisquam perferendis sit quae velit qui assumenda autem. Ut eius et eligendi quos sit omnis harum est dicta totam vel facilis facilis hic sapiente inventore.</p>
    </div>
  </div>

{% endblock %}